<header class="navbar">
    <div>
        <img src="/src/public/favicon.ico" alt="Logo da Clínica">
        <div>
            <h1>Dra. Lorena Alves</h1>
            <p>Fisioterapeuta</p>
        </div>
    </div>
    <div>
        <nav class="navbar-links">
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#depoimentos">Depoimentos</a></li>
                <li><a href="#contatos">Contatos</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <button><a href="/src/pages/autenticacao/autenticacao.html">Login</a></button>
    </div>
</header>